In [1]:
# Step 3:
# Importing essential libraries
import folium
import pandas as pd
import json
import ast
import re

In [3]:
# Step 4:
# Define the full path to your GeoJSON file
geojson_path = ...\6.1\world.geojson'

with open(geojson_path, 'r', encoding='utf-8') as f:
    geo_data = json.load(f)

In [4]:
#Import Data
df = pd.read_csv(...\6.1\flavors_of_cacao.csv', index_col = False)
path = ...\6.1'

In [5]:
# Display the first few rows of the dataset
pd.options.display.float_format = '{:.2f}'.format
# Set to None to display all rows
pd.set_option('display.max_rows', None)
print(df.head())

  Company \n(Maker-if known) Specific Bean Origin\nor Bar Name   REF  \
0                   A. Morin                       Agua Grande  1876
1                   A. Morin                             Kpime  1676
2                   A. Morin                            Atsane  1676
3                   A. Morin                             Akata  1680
4                   A. Morin                            Quilla  1704

   Review\nDate Cocoa\nPercent Company\nLocation  Rating Bean\nType  \
0          2016            63%            France    3.75
1          2015            70%            France    2.75
2          2015            70%            France    3.00
3          2015            70%            France    3.50
4          2015            70%            France    3.50

  Broad Bean\nOrigin
0           Sao Tome
1               Togo
2               Togo
3               Togo
4               Peru

In [19]:
# Display current column names
print("Original Column Names:", df.columns.tolist())

Original Column Names: ['company\xa0\n(maker-if known)', 'specific bean origin\nor bar name', 'id_number', 'review\ndate', 'cocoa\npercent', 'company\nlocation', 'rating', 'bean\ntype', 'broad bean\norigin']

In [20]:
df.columns = [
    'company',               # 'company \n(maker-if known)'
    'specific_origin',       # 'specific bean origin\nor bar name'
    'ref',                   # 'ref'
    'review_date',           # 'review\ndate'
    'cocoa_percent',         # 'cocoa\npercent'
    'location',              # 'company\nlocation'
    'rating',                # 'rating'
    'bean_type',             # 'bean\ntype'
    'bean_origin'            # 'broad bean\norigin'
]
print("Cleaned Column Names:", df.columns.tolist())

Cleaned Column Names: ['company', 'specific_origin', 'ref', 'review_date', 'cocoa_percent', 'location', 'rating', 'bean_type', 'bean_origin']

In [21]:
print(df.head())

    company specific_origin   ref  review_date cocoa_percent location  rating  \
0  A. Morin     Agua Grande  1876         2016           63%   France    3.75
1  A. Morin           Kpime  1676         2015           70%   France    2.75
2  A. Morin          Atsane  1676         2015           70%   France    3.00
3  A. Morin           Akata  1680         2015           70%   France    3.50
4  A. Morin          Quilla  1704         2015           70%   France    3.50

  bean_type bean_origin
0              Sao Tome
1                  Togo
2                  Togo
3                  Togo
4                  Peru

In [22]:
# Missing Values
for col in text_columns:
    if col in df.columns:
        df[col].fillna('Unknown', inplace=True)

...\ipykernel_79008\1037282523.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Unknown', inplace=True)

In [23]:
df.isnull().sum()

company            0
specific_origin    0
ref                0
review_date        0
cocoa_percent      0
location           0
rating             0
bean_type          0
bean_origin        0
dtype: int64

In [24]:
df.head(10)

,company,specific_origin,ref,review_date,cocoa_percent,location,rating,bean_type,bean_origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

In [25]:
df.describe()

          ref  review_date  rating
count 1795.00      1795.00 1795.00
mean  1035.90      2012.33    3.19
std    552.89         2.93    0.48
min      5.00      2006.00    1.00
25%    576.00      2010.00    2.88
50%   1069.00      2013.00    3.25
75%   1502.00      2015.00    3.50
max   1952.00      2017.00    5.00

In [26]:
# Save the cleaned data to a CSV file
df.to_csv('cleaned_chocolate_data.csv', index=False)